Repository fikryfahrezy/dicoding-web-fe-fundamental: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint "src/**/*.js", prettier --write .

.lintstagedrc.json:

{
  "*.{ts,js}": "prettier-eslint \"src/**/*.js\"",
  "*.{html,css,md,json,yaml}": "prettier --write ."
}

done the project
  .env
  .env.example
  .github/workflows/pages.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
  src/components/caselist/case/index.js
  src/components/caselist/index.js
  src/components/optionlist/option/index.js
  src/pages/index.js
  src/services/covidapi/index.js
  src/styles/styles.css
Due: prettier-eslint "src/**/*.js", prettier --write .

inject env variable at Gh Action
  .github/workflows/pages.yml
Due: none

fix Gh Aciton #1
  .github/workflows/pages.yml
Due: none

fix Gh Actions #2
  .github/workflows/pages.yml
Due: none

Deploying to gh-pages from @ fikryfahrezy/dicoding-web-fe-fundamental@3e4bdc41313a8022baff2c3be7256d91b30db774 🚀
  index.html
  main.b260bf4a0aa186cdf0d0.js
  main.b260bf4a0aa186cdf0d0.js.LICENSE.txt
  main.b260bf4a0aa186cdf0d0.js.map
  styles.css
Due: prettier-eslint "src/**/*.js", prettier --write .

fix Gh Actions #3
  README.md
  webpack.common.js
Due: prettier-eslint "src/**/*.js", prettier --write .

Deploying to gh-pages from @ fikryfahrezy/dicoding-web-fe-fundamental@8c294f3880942bafb5f9fbf0e31aa2964d8940df 🚀
  index.html
Due: prettier --write .

fix Gh Actions #4
  src/index.js
  webpack.prod.js
Due: prettier-eslint "src/**/*.js"

Deploying to gh-pages from @ fikryfahrezy/dicoding-web-fe-fundamental@327080ca82bb75b1981c00b5c904cbf6eb8cbeaf 🚀
  index.html
  main.ad0a472672166c0d6d89.js
  main.ad0a472672166c0d6d89.js.LICENSE.txt
  main.ad0a472672166c0d6d89.js.map
  main.b260bf4a0aa186cdf0d0.js
  main.b260bf4a0aa186cdf0d0.js.map
Due: prettier-eslint "src/**/*.js", prettier --write .

fix Gh Actions #5
  .github/workflows/pages.yml
Due: none

Deploying to gh-pages from @ fikryfahrezy/dicoding-web-fe-fundamental@42128b16024bd3ee6cbc118e6e5a11a8565c3ee0 🚀
  index.html
  main.15d7253289c8e7c02726.js
  main.15d7253289c8e7c02726.js.LICENSE.txt
  main.15d7253289c8e7c02726.js.map
  main.ad0a472672166c0d6d89.js
  main.ad0a472672166c0d6d89.js.map
Due: prettier-eslint "src/**/*.js", prettier --write .

fix Gh Actions #6
  .github/workflows/pages.yml
Due: none

Deploying to gh-pages from @ fikryfahrezy/dicoding-web-fe-fundamental@3ccb86433cbc766e65b21819aaa3bb4279ab2661 🚀
  index.html
  main.15d7253289c8e7c02726.js
  main.15d7253289c8e7c02726.js.map
  main.ebba87f4f25130cc9600.js
  main.ebba87f4f25130cc9600.js.LICENSE.txt
  main.ebba87f4f25130cc9600.js.map
Due: prettier-eslint "src/**/*.js", prettier --write .

fix Gh Actions #7
  .github/workflows/pages.yml
Due: none

Deploying to gh-pages from @ fikryfahrezy/dicoding-web-fe-fundamental@17ff9dfbbcfcdd785eb726873b3e429378762e73 🚀
  index.html
  main.2ff5f0b6f832842362b2.js
  main.2ff5f0b6f832842362b2.js.LICENSE.txt
  main.2ff5f0b6f832842362b2.js.map
  main.ebba87f4f25130cc9600.js
  main.ebba87f4f25130cc9600.js.map
Due: prettier-eslint "src/**/*.js", prettier --write .

fix Gh Actions #8
  .github/workflows/pages.yml
Due: none

Deploying to gh-pages from @ fikryfahrezy/dicoding-web-fe-fundamental@30ea6734f4a2d1ba8b403c63629d4849ad041716 🚀
  index.html
  main.2ff5f0b6f832842362b2.js
  main.2ff5f0b6f832842362b2.js.map
  main.c2263cef86488e144046.js
  main.c2263cef86488e144046.js.LICENSE.txt
  main.c2263cef86488e144046.js.map
Due: prettier-eslint "src/**/*.js", prettier --write .

fix Gh Actions #9
  .github/workflows/pages.yml
Due: none

Deploying to gh-pages from @ fikryfahrezy/dicoding-web-fe-fundamental@b2b22542ce3f1e70b7267117146e8eaa3d6ca959 🚀
  index.html
  main.30e471fafdae0d061422.js
  main.30e471fafdae0d061422.js.LICENSE.txt
  main.30e471fafdae0d061422.js.map
  main.c2263cef86488e144046.js
  main.c2263cef86488e144046.js.map
Due: prettier-eslint "src/**/*.js", prettier --write .
